body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.7;
    background-color: #FF8C1A;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #B1121A;
    color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center;
    
}


  
h2 {
    margin: 40px auto;
    padding: 0 20px;

}



header h1 {
    display: flex;
    align-items: center;
   
 
}

nav a {
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 10px;

}

a {
    color: purple;
    text-decoration: none;
   
}

nav {
    display: flex;
    gap: 20px;
    color: none;
    
}

nav a:hover{
    background-color: #E04B1A;
    color: #FFC300;
    padding: 5px 10px;
    border-radius: 5px;
}

nav img {
    width: 150px;
    height: auto;
    justify-self: start;
    margin-left: 800px;
    

}

#projects {
    text-align: center;
    padding: 40px 20px;

}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#about {
    text-align: center;
    padding: 60px 20px;
}

